.about {
    padding-top: 20px;
    padding-bottom: 50px;
    color: #9c9c9c;
    font-size: 18px;
    line-height: 22px;

    .black {
        color: #383838;
    }

    .blue {
        color: #1074EB;
    }

    .about__back {
        &-link {
            color: #9c9c9c;
            transition: .3s all;
            
            &:hover {
                color: #383838;
            }

            &s {
                display: flex;
                align-items: center;
                margin-bottom: 50px;
            }
        }

        &-current {
            color: #383838;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: flex-start;
        gap: 30px;
    }

    &__card {
        padding: 30px;
        background: #f7f7f7;
        border-radius: 3px;

        &_delivery {
            


            &-subtitle {
            }
        
            &-caution {

            }

        }

        &_payment {
            h2 + p {
                color: #383838;
            }
        }

        &_troubles {
        
        }

        &_trade {
            margin-top: -435px;

            li + li {
                margin-top: 22px;
            }

            ol + ul {
                margin-top: 22px;
            }

            ol {
                counter-reset: myCounter;
                li{
                    position: relative;
                    text-indent: 21px;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: -21px;
                        counter-increment: myCounter;
                        content: counter(myCounter);
                        color: #FF9900;
                    }

                    &::after {
                        content: '.';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: -12px;
                        color: #FF9900;
                    }
                }
            }

            ul {
                li {
                    position: relative;
                    text-indent: 10px;

                    &::after {
                        content: '∙';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: -10px;
                        color: #1074EB;
                    }
                }
            }
        }


        &-block {
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #c9c9c9;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
                border-bottom: 0;
            }

            &_caution {
                p:first-child{
                    color: #383838;

                    span{
                        color: #FF9900;
                    }
                }
            }
        }

        &-link {
            color: #1074EB;
            transition: .3s all;
            word-wrap: break-word;
            
            &:hover {
                color: #383838;
            }
        }

        h2 {
            font-weight: 400;
            font-size: 36px;
            line-height: 43px;
            color: #383838;
            margin-bottom: 30px;
        }

        h3 {
            font-size: 24px;
            line-height: 29px;
            font-weight: 500;
            color: #383838;
        }

        p + p {
            margin-top: 22px;
        }

        h3{
            margin-bottom: 22px;
        }


    }

    &__swiper {
        &-buttons {
            display: none;

            &-bottom {
                display: none;
            }
        }

        &-button {
            &-prev, &-next {
                padding: 14px;
                border-radius: 3px;
                height: 51px;
                width: 51px;
                background: #1074EB;
                transition: .3s all;

                &:hover {
                    background: #0561ce;
                }

                &:active {
                    background: #0653ae;
                }
            }
        }

        &-pagination {

            &-top, &-bottom {
                width: fit-content !important;
                transform: none !important;
                font-size: 24px;
                line-height: 29px;

                .swiper-pagination-bullet {
                    width: fit-content;
                    margin: 0 auto;
                    padding: 0;
                    background: transparent;
                    height: fit-content;
                    display: none;
                    transform: scale(1);
                    left: 0 !important;
                }

                .swiper-pagination-bullet-active-next {
                    display: none;
                    transform: scale(1);
                    left: 0 !important;
                }

                .swiper-pagination-bullet-active-prev {
                    display: none;
                    transform: scale(1);
                    left: 0 !important;
                }


                .swiper-pagination-bullet-active-main {
                    display: block;
                    transform: scale(1);
                    left: 0 !important;
                }
            }

            &-top {

            }

            &-bottom {
            }

            
        }
    }
}

@media screen and (max-width: 1025px) {
    .about {
        &__card {
            &_trade {
                margin-top: -470px;
            }
        }
    }
}

@media screen and (max-width: 990px) {
    .about {
        padding-top: 32px;
        font-size: 16px;
        line-height: 19px;
        padding-bottom: 16px;

        .wrapper {
            padding: 0 8px;
        }

        &__back-links {
            margin-bottom: 32px;
        }

        &__swiper {
            &-buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 24px;

                &-bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 16px;
                }
            }
        }

        &__wrapper {
            display: flex;
            gap: 0;
        }

        &__card {
            padding: 16px;
            box-sizing: border-box !important;

            h2 {
                display: none;
            }

            &_trade {
                margin: 0;   
                
                h3 {
                    display: none;
                }
            }

            &-block {
                padding-top: 16px;
                padding-bottom: 16px;


                h3 {
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 19px;
                }


            }    

            p + p {
                margin-top: 19px;
            }

            li + li {
                margin-top: 19px;
            }

            ol + ul {
                margin-top: 19px;
            }
        }
    }
}

@media screen and (max-width: 365px) {
    .about__swiper-pagination-bottom, .about__swiper-pagination-top {
        font-size: 20px;
        line-height: 24px;
    }
}