.catalog {
    padding-top: 20px;
    margin-bottom: 50px;

    &__wrapper {
        display: flex;
        align-items: flex-start;
        position: relative;
        gap: 30px;
    }

    &__back {
        &-link {
            color: #9c9c9c;
            transition: .3s all;

            &:hover {
                color: #383838;
            }

            &s {
                display: flex;
                align-items: center;
                margin-bottom: 50px;
            }
        }

        &-current {}
    }

    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    &__title {}

    &__filters {
        display: flex;
        align-items: center;
        gap: 50px;

        &-sort {
            display: flex;
            align-items: flex-start;
            gap: 10px;

            .catalog__filters-dropdown-list {
                width: 135px;
            }
        }

        &-name {
            color: #9c9c9c;
        }

        &-dropdown {
            position: relative;

            &-button {
                color: #1074EB;
            }

            &-list {
                position: absolute;
                top: 20px;
                left: -8px;
                z-index: 50;
                opacity: 0;
                visibility: hidden;
                overflow: hidden;
                transition: .3s all;
                padding: 5px;
                border-radius: 3px;
                border: 1px solid #e5e5e5;
                background: #FFFFFF;

                &-item {
                    color: #9c9c9c;
                    transition: .3s all;
                    padding-bottom: 5px;
                    padding-top: 5px;
                    border-bottom: 1px solid #e5e5e5;
                    cursor: pointer;

                    &:last-child {
                        border-bottom: 0;
                        padding-bottom: 0;
                    }

                    &:hover {
                        color: #1074EB;
                    }
                }

                &--visible.catalog__filters-dropdown-list {
                    opacity: 1;
                    visibility: visible;
                    overflow: visible;
                }
            }

            &-input-hidden {
                display: none;
            }
        }

        &-show {
            display: flex;
            align-items: flex-start;
            gap: 10px;

            .catalog__filters-dropdown-list {
                width: 53px;
            }
        }
    }

    &__side {
        padding: 20px;
        background: #F7F7F7;
        border-radius: 3px;
        width: 100%;
        max-width: 263px;

        &-burger-open {
            padding: 3px;
            border-radius: 3px;
            background: #1074EB;
            cursor: pointer;
            transition: .3s all;
            display: none;

            &:hover {
                background: #0561ce;
            }

            &:active {
                background: #0653ae;
            }
        }

        &-block {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #9c9c9c;

            &:last-child {
                border-bottom: 0;
            }

            &-title {
                margin-bottom: 15px;
            }


        }

        &-select {

            &s {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            &-name {
                margin-bottom: 10px;
            }

            &-dropdown {
                padding: 13px;
                position: relative;
                background: #FFFFFF;
                border: 1px solid #F7F7F7;
                border-radius: 3px;

                &-button {
                    color: #9c9c9c;
                    width: 100%;
                    padding: 13px;
                    margin: -13px;
                    transition: .3s all;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 13px;
                        right: 13px;
                        width: 19px;
                        height: 19px;
                        background: url(../img/svg/select-arrow-blue.svg) no-repeat center center;
                        transition: .3s all;
                    }

                    &:hover {
                        color: #1074EB;
                    }

                    &--active.catalog__side-select-dropdown-button::after {
                        transform: rotate(180deg);
                    }
                }

                &-list {
                    position: absolute;
                    top: 50px;
                    left: 0;
                    padding: 13px;
                    width: 100%;
                    color: #9c9c9c;
                    background: #FFFFFF;
                    border-radius: 3px;
                    z-index: 5;
                    opacity: 0;
                    overflow: hidden;
                    visibility: hidden;
                    transition: .3s all;

                    &-item {
                        color: #9c9c9c;
                        transition: .3s all;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        border-bottom: 1px solid #e5e5e5;
                        cursor: pointer;

                        &:last-child {
                            border-bottom: 0;
                            padding-bottom: 0;
                        }

                        &:hover {
                            color: #1074EB;
                        }
                    }

                    &--visible.catalog__side-select-dropdown-list {
                        opacity: 1;
                        overflow: visible;
                        visibility: visible;
                    }
                }

                &-input-hidden {
                    display: none;
                }


            }

        }

        &-cost {

            &-inputs {
                display: flex;
                align-items: center;
                gap: 5px;
            }

            &-min,
            &-max {
                padding: 13px;
                width: 100%;
                max-width: 106px;
                border: 1px solid #F7F7F7;
                border-radius: 3px;
                color: #9c9c9c;

                &::placeholder {
                    color: #9c9c9c;
                }
            }

            svg {
                width: 3px;
                height: 9px;
                min-width: 3px;
                min-height: 9px;
            }

            &-min {}

            &-max {}

        }

        &-brand {
            &-checkbox {

                &es {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;

                    label {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                    }
                }

                &-label {}
            }
        }

        &-rate {
            &-star {
                cursor: pointer;
                svg {
                    fill: #c9c9c9;
                    transition: .3s all;
                }

                &s {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    gap: 24px;

                    & input[type="radio"] {
                        display: none;
                    }
                }

                &_disabled {
                    cursor: default; 
                }

                &:not(.catalog__side-rate-star_disabled):hover {
                    svg {
                        fill: #FFC700;
                    }
                }   

                &:not(.catalog__side-rate-star_disabled):hover ~ & {
                    svg {
                        fill: #FFC700;
                    }
                }

                &s input[type="radio"]:checked ~ & {
                    svg {
                        fill: #FFC700;
                    }
                }
            }
        }

        &-else {
            &-checkbox {

                &es {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;

                    label {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                    }
                }

                &-label {}
            }
        }

        &-ship {

            &-checkbox {

                &es {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;

                    label {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                    }
                }

                &-label {}
            }
        }


        .real-checkbox {
            width: 0;
            height: 0;
            opacity: 0;
            position: absolute;
            z-index: -1;
        }

        .custom-checkbox {
            position: relative;
            display: inline-block;
            width: 14px;
            height: 14px;
            background: #FFFFFF;
            border: 2px solid #E0E4E7;
            vertical-align: sub;
            margin-right: 10px;
            cursor: pointer;
        }

        .custom-checkbox::before {
            content: '';
            display: inline-block;
            width: 10px;
            height: 8px;
            background: url(../img/svg/check.svg) no-repeat;
            background-size: contain;
            position: absolute;
            top: 2px;
            left: .7px;
            transform: scale(0);
            transition: .1s ease-in;
        }

        .real-checkbox:checked+.custom-checkbox::before {
            transform: scale(1);
        }

        .real-checkbox:checked+.custom-checkbox {
            border-color: #1074EB;
        }
    }

    &__main {}

    &__card {
        position: relative;

        &s {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            margin-bottom: 50px;
        }

        &-pic {
            width: 100%;
            object-fit: cover;
        }

        &-link {
            display: block;
            transition: .3s all;

            &:hover {
                transform: scale(1.05);
            }

            &-text {
                display: block;
                margin-top: 20px;
                margin-bottom: 32px;
                height: 73px;
                overflow: hidden;
                color: #383838;
                transition: .3s all;
    
                p:first-child {
                    color: #c9c9c9;
                    margin-bottom: 7px;
                }
    
                &:hover {
                    opacity: .7;
                }
            }
        }

        &-cost {
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-text {
                display: flex;
                align-items: center;
                gap: 20px;
            }

            &-recent {
                text-decoration: line-through;
                color: #c9c9c9;
            }
        }

        &-parametres {
            cursor: pointer;
            transition: .3s all;

            &:hover {
                transform: scale(1.1);
            }

            &_mobile {
                padding: 14px;
                border-radius: 3px;
                background: #1074EB;
                display: none;
                transition: .3s all;

                &:hover {
                    background: #0561ce;
                }

                &:active {
                    background: #0653ae;
                }
            }
        }

        &-cart {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            color: #FFFFFF;
            padding: 18px;
            width: 100%;
            box-sizing: border-box;
            border-radius: 3px;
            background: #1074EB;
            cursor: pointer;
            transition: .3s all;

            &:hover {
                background: #0561ce;
            }

            &:active {
                background: #0653ae;
            }
        }

        &-favorite {
            position: absolute;
            top: 15px;
            right: 15px;

            &_blue {

            }

            &_red {
                transform: scale(0);
                z-index: -1;
            }

            &_blue, &_red {
                position: absolute;
                cursor: pointer;
                transition: .3s all;
            }

            &_blue:hover, &_red:hover {
                transform: scale(1.1);
            }

            &--active &_blue {
                z-index: -1;
                transform: scale(0);
            }

            &--active &_red {
                z-index: 1;
                transform: scale(1);
            }

        }
    }

    &__pagination {
        display: flex;
        align-items: flex-end;
        gap: 32px;
        justify-content: center;
        &-prev {
        }

        &-prev, &-next {
            padding: 9px;
            border-radius: 3px;
            background: #1074EB;
            transition: .3s all;
            width: 43px;
            height: 43px;
            cursor: pointer;
            &:hover {
                background: #0561ce;
            }

            &:active {
                background: #0653ae;
            }
        }

        &-next {
        }

        &-numbers {
            color: #9c9c9c;
            span {
                cursor: pointer;
                transition: .3s all;
                &:hover {
                    color: #1074EB;
                }
            }
        } 

        &-current {
            color: #1074EB;
        }
    }

}

@media screen and (min-height: 900px) and (min-width: 1024px) {
    .catalog{
        &__side {
            position: sticky;
            top: 15px;
            left: 0;
        }
    }
}

@media screen and (max-width: 1050px) {
    .catalog {
        &__wrapper {
            gap: 20px;
        }

        &__cards {
            gap: 15px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .catalog {
        &__side {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            transition: .3s all, 0s box-shadow;
            transform: translateX(-100%);
            height: 100%;
        
            &-burger-open {
                display: block;
            }
        }

        &__wrapper {
            position: static;
        }

        &__filters {
            &-show {
                display: none;
            }
        }
        .sidebar--active .catalog__side {
            transform: translateX(0);
            overflow-y: auto;
            box-shadow: 0 0 0 1000px rgba(0,0,0,.6);
        }
    }
}

@media screen and (max-width: 710px) {
    .catalog {
        padding-top: 32px;
        margin-bottom: 56px;

        .wrapper {
            padding: 0 8px;
        }

        &__back-links {
            margin-bottom: 32px;
        }

        &__top {
            margin-bottom: 32px;
            flex-direction: column;
            gap: 32px;
            align-items: flex-start;
        }

        &__filters {
            width: 100%;
            justify-content: space-between;
            gap: 0;
        }

        &__card {

            &:last-child{
                display: none;
            }

            &s {
                grid-template-columns: repeat(2,1fr);
                margin-bottom: 40px;
            }

            &-parametres {
                display: none;
                &_mobile {
                    display: block;
                    width: 51px;
                    height: 51px;
                    box-sizing: border-box;
                    cursor: pointer;
                    img {
                        width: 23px;
                        height: 23px;
                    }
                }
            }

            &-cart {
                padding: 6px;
                height: 51px;
                width: calc(100% - 59px);
                &-param {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
                &-pic {
                    display: none;
                }
                p {
                    font-size: 14px;
                    line-height: 18px;
                }
            }

            &-desc {
                margin-top: 8px;
                margin-bottom: 24px;
                height: 61px;
                overflow: hidden;
                p {
                    font-size: 16px;
                    line-height: 19px;
                }
                p:first-child {
                    color: #c9c9c9;
                    margin-bottom: 4px;
                }
            }

            &-cost {
                margin-bottom: 16px;
                p {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }

        &__pagination {
            justify-content: space-between;
        }

        .sell, .new {
            font-size: 14px;
            line-height: 17px;
        }
    
        .sell {
            padding: 2px 9px 3px 10px;
        }
    
        .new {
            padding: 2px 8px 3px 8px;
        }
    }
}

@media screen and (max-width: 356px) {
    .catalog__card-cost-text {
        gap: 2px;
        justify-content: space-between;
    }
}