.header {
    &_burger {
        display: none;
    }

    &__top {
        padding: 13px 0 12px 0;
        background: #F7F7F7;

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-block {
            display: flex;
            align-items: center;

            &_1 {
                gap: 30px;

                a {
                    text-decoration: none;
                    color: #383838;
                    transition: .3s all;

                    &:hover {
                        opacity: .7;
                    }
                }
            }

            &_2 {
                gap: 10px;

                p:first-child {
                    color: #9c9c9c;
                }
            }

            &_3 {
                gap: 25px;

                a {
                    text-decoration: none;
                    transition: .3s all;

                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }

    }

    &__center {
        padding-top: 20px;
        padding-bottom: 22px;

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    }

    &__logo {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    &__phone {
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        color: #383838;
        text-decoration: none;
        transition: .3s all;

        &:hover {
            opacity: .7;
        }
    }

    &__searchform {
        position: relative;
        max-width: 292px;
        width: 100%;
    }

    &__searchform-form {
        width: 100%;
        padding: 8px 10px 10px 10px;
        border: 1px solid #c9c9c9;
        border-radius: 3px;

        &::placeholder {
            color: #9c9c9c;
        }
    }

    &__searchform-button {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 5px 10px;
        background: #1074EB;
        color: #FFFFFF;
        border-radius: 3px;
        cursor: pointer;
        transition: .3s all;

        &:hover {
            background: #0561ce;
        }

        &:active {
            background: #0653ae;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 15px;

        &-link {
            transition: .3s all;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__adresses {
        text-decoration: none;
        color: #FFFFFF;
        padding: 9px 14px;
        border-radius: 3px;
        background: #FF9900;
        transition: .3s all;

        &:hover {
            background: #f3960a;
        }

        &:active {
            background: #d68307;
        }
    }

    &__cab {
        text-decoration: none;
        transition: .3s all;

        &:hover {
            opacity: .7;
        }
    }

    &__bot {
        &-wrapper {
            background: #f7f7f7;
            display: flex;
            align-items: center;
            gap: 20px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                z-index: 10;
                width: 150px;
                height: 100%;
                right: 0;
                top: 0;
                background: linear-gradient(90deg, #38383800 0.5%, #FFFFFF 100%);
            }
        }
    }

    &__catalog {
        background: #1074EB;
        min-width: 136px;
        position: relative;
        width: fit-content;

        &-trigger {
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 15px 20px 15px 15px;
            color: #FFFFFF;
            cursor: pointer;
        }

        &--visible {
            .header__catalog-hidden-list {
                display: block;
                box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.3);
            }
        }

        &--visible.header__catalog {
            border-top-left-radius: 3px;
        }

        &-hidden-more-result {
            max-height: 484px;
            overflow-y: auto;
            width: fit-content;
        }



        .catalog-item--active.header__catalog-hidden-items-more {
            display: grid;
            padding-top: 15px;
        }

        .catalog-item--active.header__catalog-hidden-more-result {
            margin-left: 15px;
            padding-left: 15px;
            border-left: 1px solid rgba(255, 255, 255, 0.3);
        }


        .catalog-item--active.header__catalog-hidden-item {
            background: rgba(255, 255, 255, 0.3);
            border-color: transparent;
        }

        &-hidden-item {
            padding-top: 15px;
            padding-bottom: 15px;
            color: #FFFFFF;
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            width: 241px;
            padding-left: 15px;
            margin-left: -15px;
            transition: .3s all;

            &:hover {
                background: rgba(255, 255, 255, 0.3);
            }

            &-title {
                position: relative;
                cursor: pointer;
                width: 100%;
                padding: 15px;
                margin: -15px -15px -15px 0;
                transition: .3s all;

                &::after {
                    content: '';
                    width: 19px;
                    height: 19px;
                    position: absolute;
                    top: calc(50% - 9px);
                    right: 10px;
                    background: url(../img/svg/catalog-hidden-item-arrow.svg) no-repeat center center;
                }
            }

            &s {}

            &s-more {
                display: none;
                align-items: flex-start;
                grid-template-columns: repeat(2, 189px);
                gap: 50px;

                &-right,
                &-left {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    gap: 22px;
                }
            }

            &-more {

                &-title {
                    color: #FFFFFF;
                    padding: 1px 0 1px 31px;
                    background: url(../img/svg/header-catalog-plus.svg) no-repeat left top;
                    min-height: 21px;
                    cursor: pointer;
                    transition: .3s all;

                    &:hover {
                        color: #c9c9c9;
                    }
                }

                &_2lvl {
                    max-height: 0;
                    overflow: hidden;
                    padding-left: 41px;
                    transition: .3s all;

                    &-item {
                        color: #FFFFFF;
                        display: inline-block;
                        margin-bottom: 15px;
                        transition: .3s all;

                        &:hover {
                            color: #c9c9c9;
                        }

                        &:first-child {
                            margin-top: 15px;
                        }

                        &:last-child {
                            margin-bottom: 9px;
                        }
                    }


                }

                .lvl2--active &_2lvl {
                    max-height: none;
                }

                span {
                    color: #A5B5E2;
                }
            }

        }

        &-hidden-list {
            position: absolute;
            z-index: 11;
            top: 0;
            left: 0;
            width: fit-content;
            height: fit-content;
            padding: 15px;
            background: #1074EB;
            border-radius: 3px 3px 0px 0px;
            display: none;
            min-width: 256px;
            height: 556px;

            &-title {
                display: flex;
                align-items: center;
                gap: 15px;
                padding-bottom: 15px;
                cursor: pointer;
                width: fit-content;

                p {
                    color: #FFFFFF;
                }
            }

            &-wrapper {
                display: flex;
                align-items: flex-start;
            }
        }
    }


    &__categories {
        overflow: hidden;
        margin-right: 20px;
        position: relative;

        &-wrapper {
            display: flex;
            align-items: center;

            a {
                width: fit-content !important;
                color: #383838;
                transition: .3s all;

                &:hover {
                    color: #1074EB;
                }
            }
        }

        &-swiper {
            position: relative;
        }

        &-swiper-button-next {
            position: absolute;
            top: 0px;
            width: 19px;
            height: 19px;
            z-index: 11;
            right: 0;
        }

        &-swiper-button-prev {
            display: none;
        }



    }

    .dragscroll {
        overflow: auto;
      
        &::-webkit-scrollbar {
          width: 8px;
          background: rgba(56, 56, 56, .3);
          border-radius: 10px;
          transition: all 0.3s;
        }
      
        &::-webkit-scrollbar-thumb {
          background-color: #383838;
          height: 51px;
          border-radius: 10px;
          transition: all 0.3s;
        }
      
        &::-webkit-scrollbar-thumb:hover {
          background-color: #383838;
          transition: all 0.3s;
        }
      
/*         &::-webkit-scrollbar-button:vertical:start:decrement {
          display: none;
        }
      
        &::-webkit-scrollbar-button:vertical:end:increment {
          display: none;
        }
      
        &::-webkit-scrollbar-button:horizontal:start:decrement {
          display: none;
        }
      
        &::-webkit-scrollbar-button:horizontal:end:increment {
          display: none;
        } */
    }
}

@media screen and (max-width: 1100px) {
    .header {
        &__searchform {

            max-width: 222px;

        }
    }
}

@media screen and (max-width: 1000px) {
    .header {

        &__top,
        &__center,
        &__bot {
            display: none;
        }

        &_burger {
            .wrapper {
                padding: 0 8px;
            }

            display: block;
        }

        &__top_burger {

            padding-top: 23px;
            padding-bottom: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            border-bottom: 1px solid #C9C9C9;

            &-logo {
                width: 107px;
                height: 30px;
            }

            &-link {
                transition: .3s all;

                &:hover {
                    opacity: .7;
                }
            }

            &-links {
                display: flex;
                align-items: center;
                gap: 24px;
            }

            &-catalog {
                &-trigger {
                    border-radius: 3px;
                    width: 30px;
                    height: 30px;
                }

                &-hidden {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: .3s all;
                    transform: translateX(100%);
                    overflow: auto;
                    padding-top: 56px;
                    padding-left: 16px;
                    padding-right: 16px;
                    background: #1074EB;
                    z-index: 10;

                    &-top {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-bottom: 16px;
                    }
                }

                &-list {
                    position: relative;
                    width: 100%;
                    height: 100%;
                }
            }

        }


        &__catalog_burger-hidden {
            display: none;

            &-item {
                padding: 15px 0;
                border-top: 1px solid rgba(255, 255, 255, 0.3);

                &:last-child {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                }

                &-title {
                    color: #FFFFFF;
                    position: relative;
                    margin-left: 1px;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 19px;
                        height: 19px;
                        background: url(../img/svg/catalog-ihidden-item-arrow.svg) no-repeat center center;
                    }
                }

                &-back {
                    width: 100%;
                    padding: 15px;
                    margin-bottom: 16px;
                    text-align: center;
                    color: #FFFFFF;
                    background: rgba(255, 255, 255, 0.3);
                    display: block;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 16px;
                        left: 16px;
                        width: 19px;
                        height: 19px;
                        transform: rotate(180deg);
                        background: url(../img/svg/catalog-ihidden-item-arrow.svg) no-repeat center center;
                    }
                }

                &s-more {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 11;
                    background: #1074EB;
                    transition: .3s all;
                    transform: translateX(100%);
                    display: none;
                    transition: .3s all;

                }

                &-more {
                    margin-bottom: 15px;

                    span {
                        color: #84B1E6;
                    }

                    &-title {
                        color: #FFFFFF;
                        background: url(../img/svg/header-catalog-plus.svg) no-repeat right center;
                        background-size: contain;
                    }

                    &_2lvl {
                        max-height: 0;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        padding-left: 20px;
                        margin-top: 15px;
                        border-top: 1px solid rgba(255, 255, 255, 0.3);
                        overflow: hidden;

                        &-item {
                            color: #FFFFFF;
                        }
                    }
                }

            }
        }

        .catalog_burger--active .header__top_burger-catalog-hidden {
            display: block;
            transform: translateX(0);
        }

        .catalog_burger-more--active &__catalog_burger-hidden-items-more {
            display: block;
            transform: translateX(0);
        }

        .catalog_burger-2lvl--active &__catalog_burger-hidden-item-more_2lvl {
            max-height: none;
            margin-bottom: 9px;
            padding-top: 15px;
        }


        &__center_burger {
            padding-top: 16px;
            padding-bottom: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-phone,
            &-mail {
                color: #383838;
                padding-left: 20px;
            }

            &-phone {
                background: url(../img/svg/phone.svg) no-repeat left center;
            }

            &-mail {
                background: url(../img/svg/mail.svg) no-repeat left center;
            }
        }

        &__bot_burger {
            position: relative;
            width: 100%;
            height: 40px;

            input {
                padding: 10px 16px;
                width: 100%;
                border-radius: 3px;
                background: #f7f7f7;

                &::placeholder {
                    color: #9c9c9c;

                }

                height: 40px;
            }

            &-searchform-btn {
                position: absolute;
                top: 8px;
                right: 16px;
                cursor: pointer;
            }
        }
    }

}

@media screen and (max-width: 369px) {
    .header {
        &_burger {}

        &__top_burger {
            &-links {
                gap: 10px !important;
            }
        }
    }
}