.pickup-popup {
    display: none;
    padding: 40px;
    max-width: 1140px;
    width: 100%;
    &-title {
        margin-bottom: 40px;
        font-size: 36px;
        line-height: 43px;
    }

    .modal_close {
        position: absolute;
        top: 50px;
        right: 40px;
        transition: .3s all;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }

    .is-close-btn {
        display: none;
    }

    &-top {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        padding: 13px 20px;
        color: #9c9c9c;
        background: #F7F7F7;
        border-radius: 3px;
    }

    &-adress {
    }

    &-mode {
    }

    &-list {
    
        &-item {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding-bottom: 20px;
            border-bottom: 1px solid #c9c9c9;
            padding: 20px;

            &:first-child {
                padding-top: 0;
            }
            &-adress {
                max-width: 568px;
            }

            &-mode {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }
    }

    .monday {
        color: #1074EB;
    }
    .gray {
        color: #9c9c9c;
    }
    .sunday {
        color: #FF9900;
    } 
}

@media screen and (max-width: 990px) {
    .pickup-popup {
        padding: 16px;
        
        .modal_close {
            top: 19px;
            right: 16px;
        }

        &-title {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 32px;
        }

        &-top {
            display: none;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 16px;

            &-item {
                flex-direction: column;
                gap: 16px;
                align-items: stretch;
                border-radius: 3px;
                background: #f7f7f7;
                border-bottom: 0;

                &:first-child {
                    padding: 16px;
                }
                &-adress {
                    padding-bottom: 16px;
                    border-bottom: 1px solid #c9c9c9;
                    max-width: none;
                }
                &-mode {
                    align-items: flex-start;
                }
            }
        }
    }
}
