.tovar {
    margin-top: 20px;
    margin-bottom: 50px;
    &__back {

        &-link {
            color: #9c9c9c;
            transition: .3s all;
            &:hover {
                color: #383838;
            }

            &s {
                display: flex;
                align-items: center;   
                margin-bottom: 50px; 
            }
        }

        &-current{
            color: #383838;
        }
    }

    &__card {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 50px;
        position: relative;
        
        >.sell {
            top: 30px;
        }

        &-pic {
            width: 100%;
            object-fit: cover;

            &-block {
                width: calc(50% - 15px);
            }
        }

        &-text {
            padding: 30px;
            border-radius: 3px;
            background: #f7f7f7;
            width: calc(50% - 15px);
            &-block {   
                padding-bottom: 30px;
                padding-top: 30px;
                border-bottom: 1px solid #c9c9c9;
                position: relative;

                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    padding-bottom: 0;
                    border-bottom: 0;
                }

                &_name {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    p {
                        max-width: 379px;
                    }
                    span {
                        color: #9c9c9c;
                    }
                }

                &-favorite {
                    position: relative;
                    width: 25px;
                    height: 25px;

                    &_blue {

                    }
        
                    &_red {
                        transform: scale(0);
                        z-index: -1;
                    }

                    &_blue, &_red {
                        position: absolute;
                        cursor: pointer;
                        transition: .3s all;
                    }
        
                    &_blue:hover, &_red:hover {
                        transform: scale(1.1);
                    }
        
                    &--active &_blue {
                        z-index: -1;
                        transform: scale(0);
                    }
        
                    &--active &_red {
                        z-index: 1;
                        transform: scale(1);
                    }

                }

                &_rate {
                    display: flex;
                    align-items: center;
                    &-star {
                        cursor: pointer;
                        svg {
                            fill: #c9c9c9;
                            transition: .3s all;
                        }
        
                        &s {
                            display: flex;
                            align-items: center;
                            gap: 24px;
                        }
                    }

                    &-reviews {
                        color: #9c9c9c;
                        transition: .3s all;
                        margin-left: 20px;
                        &:hover {
                            color: #383838;
                        }
                        &-count {

                        }
                    }

                    &-share {
                        position: absolute;
                        right: 0;
                        svg {
                            transition: .3s all;
                            fill: #1074EB;
                        }

                        &:hover {
                            svg {
                                fill: #0561ce;
                            }
                        }

                        &:active {
                            svg {
                                fill: #0653ae;
                            }
                        }
                    }
                }

                &_articul {
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    &-articul {
                        color: #9c9c9c;
                        span {
                            color: #383838;
                        }
                    }

                    &-model {
                        color: #9c9c9c;
                        span {
                            color: #383838;
                        }
                    }

                }

                &-pic_mobile {
                    &-block {
                        display: none;
                    }
                }

                &_cost {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &-block {
                        display: flex;
                        align-items: center;
                        gap: 30px;
                    }

                    &-actual {

                    }

                    &-recent {
                        color: #c9c9c9;
                        text-decoration: line-through;
                    }

                    &-meter {
                        width: 120px;
                        height: 45px;
                        display: flex;
                        align-items: center;
                        gap: 26px;
                        padding: 13px 10px;
                        background: #FFFFFF;
                        border: 1px solid #9c9c9c;
                        border-radius: 3px;

                        &-input {
                            width: 10px;
                            background: transparent;
                            color: #1074EB;
                        }

                        &-minus {

                        }

                        &-plus {

                        }

                        &-minus, &-plus {
                            width: 19px;
                            height: 19px;
                            svg {
                                fill: #383838;
                                transition: .3s all;
                            }

                            &:hover {
                                svg {
                                    fill: #1074EB;
                                }
                            }
                        }

                        &_button {
                            &-disabled {
                                svg {
                                    fill: #9c9c9c;
                                    cursor: default;
                                    
                                }

                                &:hover {
                                    svg {
                                        fill: #9c9c9c;
                                    }
                                }
                            }
                        }
                    }
                }

                &_cart {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &-cart {
                        padding: 18px 80px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        color: #ffffff;
                        background: #1074EB;
                        border-radius: 3px;
                        transition: .3s all;

                        &:hover {
                            background: #0561ce;
                        }

                        &:active {
                            background: #0653ae;
                        }
                    }

                    &-follow-share {
                        display: flex;
                        align-items: center;
                        gap: 18px;
                    }

                    &-share {
                        padding: 14px;
                        background: #1074EB;
                        transition: .3s all;
                        width: 51px;
                        height: 51px;
                        display: none;
                        border-radius: 3px;

                        &:hover {
                            background: #0561ce;
                        }

                        &:active {
                            background: #0653ae;
                        }
                    }

                    &-favorite_burger {
                        padding: 14px;
                        background: #1074EB;
                        transition: .3s all;
                        width: 51px;
                        height: 51px;
                        display: none;
                        border-radius: 3px;

                        &:hover {
                            background: #0561ce;
                        }

                        &:active {
                            background: #0653ae;
                        }
                    }

                    &-out {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        color: #E92626;
                    }
                }

            
            }
        }

    }

    &__char {
        padding: 30px;
        border-radius: 3px;
        background: #f7f7f7;
        margin-bottom: 30px;
        &-title {
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px  solid #c9c9c9;
        }

        &-text {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 20px 30px;
            &-block {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &-name {
                color: #9c9c9c;
            }

            &-value {

            }
        }
    }

    &__desc {
        padding: 30px;
        background: #f7f7f7;
        border-radius: 3px;
        &-review {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            align-items: stretch;
        }

        &-title {
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid #c9c9c9;
        }

        &-desc {
            color: #9c9c9c;
        }

    }
    &__review {
        padding: 30px;
        background: #f7f7f7;
        border-radius: 3px;
        overflow: hidden;
        
        &-top {
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid #c9c9c9;
            display: flex;  
            align-items: center;
            justify-content: space-between;

        }
    
        &-title {

        }

        &-buttons {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &-swiper {

            &-button-next, &-button-prev {
                padding: 6px;
                border-radius: 3px;
                background: #1074EB;
                display: block;
                cursor: pointer;
                transition: .3s all;

                &:hover {
                    background: #0561ce;
                }

                &:active {
                    background: #0653ae;
                }
            }
            

            &-button-prev {
            }

            &-button-next {
            }

            &-wrapper {

            }

            &-slide {

                &-top {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 20px;
                }

                &-name {

                    &-block {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }
                }

                &-pic { 
                    width: 100%;
                    object-fit: cover;
                    &-block {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        overflow: hidden;
                    }
                }

                &-rate {

                    &_desctop {
                        display: flex;
                        align-items: center;
                        gap: 22px;
                    }

                    &_mobile {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        display: none;
                        &-count {

                        }
                    }

                }

                &-text {
                    color: #9c9c9c;
                }
            }

        }
    }

}

@media screen and (max-width:1000px) {
    .tovar {
        margin-top: 32px;
        margin-bottom: 56px;

        &__back-links {
            margin-bottom: 32px;
        }

        &__card {
            .fz36 {
                font-size: 26px;
                line-height: 32px;
            }

            &-text {
                &-block {
                    &_rate-stars {
                        gap: 16px;
                    }

                    &_cost {
                        &-block {
                            gap: 20px;
                        }
                    }

                    &_cart {
                        &-cart {
                            padding: 18px 50px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 834px) {
    .tovar {
        .wrapper {
            padding: 0 8px;
        }

        &__card{
            margin-bottom: 64px;
            width: 100%;

            &-pic {
                &-block {
                    display: none;
                }
            }

            &-text{
                width: 100%;
                padding: 0;
                background: transparent;

                .fz36 {
                    font-size: 24px;
                    line-height: 29px;
                }

                &-block{
                    padding-bottom: 16px;
                    padding-top: 16px;
                    border-bottom: 0;
                    &-favorite {
                        display: none;
                    }
                    &_name {
                        border-bottom: 1px solid #c9c9c9;
                        p {
                            max-width: none;
                        }
                    }
                    &_rate {
                        justify-content: space-between;
                        border-bottom: 1px solid #c9c9c9;
                        &-share {
                            display: none;
                        }
                    }

                    &-pic_mobile {
                        margin: 0 auto;
                        &-block {
                            display: block;
                            position: relative;
                            .sell {
                                top: 24px;
                                left: -8px;
                                padding: 2px 9px 3px 10px;
                                font-size: 14px;
                                line-height: 17px;
                            }
                        }
                        &-out {
                            color: #E92626;
                            position: absolute;
                            left: 0;
                            bottom: 26px;
                        }
                    }

                    &_cost-block {
                        gap: 24px;
                    }

                    &_cart {
                        gap: 18px;
                        &-out {
                            display: none;
                        }

                        &-share {
                            display: block;
                        }

                        &-favorite_burger {
                            position: relative;
                            display: block;
                            &-white, &-red {
                                position: absolute;
                                top: 14px;
                                transition: .3s all;
                                width: 23px;
                                height: 23px;
                            }

                            &-red {
                                z-index: -1;
                                transform: scale(0);
                            }

                            &--active &-white {
                                z-index: -1;
                                transform: scale(0);
                            }

                            &--active &-red {
                                z-index: 1;
                                transform: scale(1);
                            }
                        }

                        &-cart {
                            padding: 16px;
                            max-width: 221px;
                            width: 100%;
                            justify-content: center;
                            svg {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        &__char {
            margin-bottom: 16px;
        }

        &__desc{
            padding: 24px 16px;
            &-review {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .fz18 {
                    font-size: 16px;
                    line-height: 19px;
                }
            }
        }

        &__review {
            max-width: 100%;
            padding: 24px 16px;
            &-swiper {
                &-slide {
                    &-rate {
                        &_desctop {
                            display: none;
                        }

                        &_mobile {
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 590px) {
    .tovar {
        &__back-links.fz16 {
            font-size: 14px;
            line-height: 18px;
        }

        &__char {
            padding: 24px 16px;

            .fz18 {
                font-size: 16px;
                line-height: 19px;
            }

            &-title {
                margin-bottom: 16px;
                padding-bottom: 24px;
            }

            &-text {
                grid-template-columns: repeat(1,1fr);
            }
        }

        &__desc {
            &-title {
                margin-bottom: 16px;
                padding-bottom: 24px;
            }
        }
        
        &__review {
            &-top {
                margin-bottom: 24px;
                padding-bottom: 24px;
            }
        }
    }
}

@media screen and (max-width: 340px) {
    .tovar__card-text-block_cost-block {
        gap: 10px;
    }
}